<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Days One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee Inline' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
  </head>
  <body ng-app="directoryApp">
    <div class="container">
        <div class="grow">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
    </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
          </div>
          <div class="tableWrapper">
            <table class="table table-bordered table-hover">
              <tr>
                <th>CODE</th>
                <th>BUILDING NAME</th>
                <th></th>
                <th></th>
              </tr>
              <tr id="tableRow" ng-repeat="entries in listings | filter:searchFilter">
                <td>{{entries.code}}</td>
                <td>{{entries.name}}</td>
                <td> <button ng-click="showDetails(entries.code)">Details</button></td>
                <td> <button ng-click="deleteListing(entries.code)">Delete</button></td>
              </tr>
            </table>
          </div>
         <form class="jumbotron">
            <h2>New Listing</h2>
            <h5>Add a new listing here</h5>
            <table >
              <tr>
                <td class="addListing">
                    Code:<br>
                    <input type="text" ng-model="newCode"><br>
                </td>
                <td class="addListing">
                    Name:<br>
                    <input type="text" ng-model="newName"><br>
                </td>
              </tr>
              <tr>
                <td class="addListing">
                    Longitude:<br>
                    <input type="text" ng-model="newLong"><br>
                </td>
                <td class="addListing">
                    Latitude:<br>
                    <input type="text" ng-model="newLat"><br>
                </td>
              </tr>
              <tr>
                <td class="addListing">
                    Address:<br>
                    <input type="text" ng-model="newAdd"><br>
                </td>
              </tr>
              <tr>
                <td>
                    <button id = "create" ng-click="addListing()">Create</button>
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information</h2>
             <div ng-show="show">
             <h3>Code: </h3>
             <div class="info">
             {{detailedInfo.code}}
               </div>
             <h3>Name: </h3>
             <div class="info">
             {{detailedInfo.name}}
             </div>
             <h3>Coordinates: </h3>
             <h4>Latitude: </h4>
             <div class="info">
             {{detailedInfo.coordinates.latitude}}
             </div>
             <h4>Longitude: </h4>
             <div class="info">
             {{detailedInfo.coordinates.longitude}}
             </div>
             <h3>Address: </h3>
             <div class="info">
             {{detailedInfo.address}}
             </div>
             </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>